.productBlock {
  padding: 12px;
  margin-bottom: 25px;
  border: 2px solid var(--black-color);
  border-radius: 8px;
}

.productBlockDark {
  background-color: var(--light-grey-color);
  color: var(--black-color);
}

.productBlockLight {
  background-color: var(--white-color);
  color: var(--teal-color);
}

.productInfo {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.buttonsWrapper {
  display: flex;
  column-gap: 10px;
}